<template name="UrlForm">
    <form id="url-form">
        {{>
            render component='TargetUrlInput' targetURL=stateFn$targetURL
                   handleUserInput=action$handleUserInput
        }}

        <div class="form-inline">
            {{>
                render component='ShortUrlInput' shortURL=stateFn$shortURL
                       handleUserInput=action$handleUserInput
            }}

            {{>
                render component='PrivateCheckbox' isPrivate=stateFn$isPrivate
                       handleUserInput=action$handleUserInput
            }}
        </div>

        {{> render component='SubmitButton' handleSubmit=action$handleSubmit}}
    </form>
</template>
