<template name="home">
    <form>

        <div class="input-append">
            <input name="longURL" class="input-xxlarge" type="text" placeholder="Enter your long URL here">
            <button type="submit" class="btn">Submit</button> <br>
        </div>

        <div class="form-inline">

            {{getHostName}}/<input name="shortURL" class="input-medium" type="text" placeholder="your-custom-url">

            <label class="checkbox inline myLabel">
                <input name="makePrivate" type="checkbox">Make private
            </label>

        </div>

    </form>
</template>