<template name="header">
    <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">

            <ul class="nav">
                <li class="{{isActiveRoute 'home'}}"><a href="{{pathFor 'home'}}">Home</a></li>
                {{#with defaultLimit}}<li class="{{isActiveRoute 'publicList'}}"><a href="{{pathFor 'publicList'}}">View Public URLs</a></li>{{/with}}
                {{#if currentUser}}<li class="{{isActiveRoute 'userPage'}}"><a href="{{pathFor 'userPage'}}">Manage Your URLs</a> </li>{{/if}}
            </ul>

            <ul class="nav pull-right">
                <li>{{loginButtons}}</li>
            </ul>

        </div>
    </header>

</template>