<template name="header">
    <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">

            <ul class="nav">
                <li class="{{isActive 'home'}}"><a href="#">Home</a></li>
                {{#if currentUser}}<li class="{{isActive 'manage'}}"><a href="{{pathFor 'userPage'}}">Manage Your URLs</a> </li>{{/if}}
                <li class="{{isActive 'publicList'}}"><a href="#">View Public URLs</a></li>
            </ul>

            <ul class="nav pull-right">
                <li>{{loginButtons}}</li>
            </ul>

        </div>
    </header>

    <h1 class="custom-headline">NP URL Shortener</h1>

</template>