<template name="Footer">
    <footer>
        <p>
            © {{year}} <a href="http://phucnguyen.info" target="_blank">Phuc Nguyen</a>
            | <a href="https://github.com/npvn/meteor-url-shortener" target="_blank">GitHub</a>
            | Built with <a href="https://www.meteor.com" target="_blank">Meteor</a>,
            <a href="https://github.com/npvn/meteor-material-design" target="_blank">Material Design</a>
            and <i class="fa fa-heart"></i>
        </p>
    </footer>
</template>
