<template name="urlPage">

    {{#if canBeDisplayed}}

        <p>
            The following URL: {{targetURL}}
        </p>

        <p>
            has been shortened to: {{getHostName}}/{{shortURL}}
        </p>

        <p>
            Total number of visits: {{numVisit}}
        </p>

        <p>
            Private: {{makePrivate}}
        </p>

        <p><a href="{{pathFor 'urlEdit'}}">Edit</a></p>

    {{else}}

        <p>This URL is marked as private. Please login with the author account to view its details.</p>

    {{/if}}

</template>