<template name="urlPage">

    {{#if urlExist}}

        {{#if canBeDisplayed}}

            {{#with urlData}}

                    <p><a href="{{targetURL}}">{{targetURL}}</a></p>
                    <p>→ <a href="http://{{getHostName}}/{{shortURL}}">{{getHostName}}/{{shortURL}}</a></p>
                    {{#if isOwnURL}}<p><a href="{{pathFor 'urlEdit'}}">Edit</a></p>{{/if}}

                <div><br>
                    <h4>URL's statistics (updated in real-time)</h4>
                    Total visits: {{numVisit}}

            {{/with}}

                <ul>By browser:
                    {{#each getStatistics 'browser'}}
                    <li>{{printStatistics this}}</li>
                    {{/each}}
                </ul>

                <ul>By OS:
                    {{#each getStatistics 'os'}}
                    <li>{{printStatistics this}}</li>
                    {{/each}}
                </ul>

                <ul>By country:
                    {{#each getStatistics 'country'}}
                    <li>{{printStatistics this}}</li>
                    {{/each}}
                </ul>

            </div>

        {{else}}

        <p class="middleBlockTextCenter">This URL is marked as private. Please login with the author account to view its details.</p>

        {{/if}}

    {{else}}

        {{render404}}

    {{/if}}



</template>