<template name="urlEdit">
    {{#if isOwnURL}}
    <form>
        <p>URL: {{hostname}}/<input name="shortURL" class="input-small" type="text" value="{{shortURL}}"></p>
        <p>Target: <input name="targetURL" class="input-xxlarge" type="text" value="{{targetURL}}"> </p>
        <p>Make private: <input name="makePrivate" type="checkbox" {{isChecked}}></p>
        <button type="submit" class="btn">Update</button>
    </form>
    {{else}}
    <p>Only the author can edit details of a URL.</p>
    {{/if}}
</template>