<template name="userPage">
    {{#if currentUser}}

        {{#if hasURL}}

            <div class="userURLList">
                {{#each this}}
                    <div class="row">
                        <a href="{{targetURL}}" class="span4 hideOverflow">{{targetURL}}</a>
                        <span class="span1"> → </span>
                        <a href="http://{{getHostName}}/{{shortURL}}" class="span2 hideOverflow">{{getHostName}}/{{shortURL}}</a>
                        <span id="privateOrPublic" class="span1 {{privateOrPublic}}">({{privateOrPublic}})</span>
                        <a href="{{pathFor 'urlPage'}}" class="span1">{{pluralize numVisit 'visit'}}</a>
                        <a href="{{pathFor 'urlEdit'}}" class="span1">Edit</a>

                    </div>

                    <br>
                {{/each}}
            </div>

        {{else}}
            <p class="middleBlockTextCenter">You haven't created any URL. Let's <a href="{{pathFor 'home'}}">create one</a>!</p>
        {{/if}}

    {{else}}
        <p class="middleBlockTextCenter">Please login to view details of your URLs.</p>
    {{/if}}
</template>


