<template name="UrlEdit">
    {{#with state.url}}
        {{#if shortURL}}

            {{#if accessible}}
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        {{> UrlFormContainer}}
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            {{else}}
                <p class="notification-text">Sorry, you are not allowed to edit this link.</p>
            {{/if}}

        {{else}}

            {{> NotFound}}

        {{/if}}
    {{/with}}
</template>
