<template name="UrlRedirect">
    {{#unless state.url.shortURL}}
        {{> NotFound}}
    {{else}}
        {{#if state.accessible}}
            {{#with state.url}}
              <div id="url-redirect">
                  <p>Redirecting to:</p>
                  <p class="hide-overflow" title="{{targetURL}}">{{targetURL}}</p>
                  <p>{{> Loading}}</p>
                  {{redirect}}
              </div>
            {{/with}}
        {{else}}
            <p class="notification-text">This link is private. Only the owner can access it.</p>
        {{/if}}
    {{/unless}}
</template>
